<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>Necesitamos usar Face ID para autenticarte y dejarte entrar a la bitácora.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Necesitamos acceso al micrófono para que puedas dictar tus entrenamientos.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Necesitamos permiso para transcribir tu voz a texto para el registro de avances.</string>
</dict>
</plist>
